.cart {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.items {
  flex: 3;
  background: white;
  padding: 20px;
}

.item {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.item img {
  width: 120px;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
}

.summary {
  flex: 1;
  background: white;
  padding: 20px;
  height: fit-content;
}

.summary button {
  width: 100%;
  margin-top: 15px;
  background: #f0c14b;
  border: 1px solid #a88734;
  padding: 10px;
}
